.root {
  padding-top: 100px;
  padding-bottom: 80px;
}

.title {
  font-weight: 900;
  font-size: rem(34px);
  margin-bottom: var(--mantine-spacing-md);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);

  @media (max-width: 480) {
    font-size: rem(32px);
  }
}

.control {
  @media (max-width: 480) {
    width: 100%;
  }
}

.mobileImage {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.desktopImage {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
